<?php
/**
 * Class file for the {{label}} component.
 *
 * @package {{namespace}}
 */

namespace {{namespace}};

/**
 * Defines the {{label}} component.
 */
class {{wp_class}} extends \WP_Irving\Component\Component {

	/**
	 * Unique component slug.
	 *
	 * @var string
	 */
	public $name = '{{name}}';

	/**
	 * Define a default config.
	 *
	 * @return array Default config.
	 */
	public function default_config() {
		return [];
	}

	/**
	 * Define default children.
	 *
	 * @return array Default children.
	 */
	public function default_children() {
		return [];
	}
}
